<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Chemo user header</title>
    <link rel="stylesheet" href="./static/styles/header.css">
    <link rel="stylesheet" href="static/styles/page.css">
    <link rel="stylesheet" href="./static/styles/form.css">
</head>
<body>
    <div id="user-header">
        <a class="logo" href="./index.jsp">
            <img src="./static/images/chemo_logo_and_name-horizontal-one-color-white.png">
        </a>
    </div>
</body>
</html>