<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Chemo user header logged</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="./static/images/chemo_favicon.png">
  <link rel="stylesheet" href="./static/styles/header.css">
  <link rel="stylesheet" href="static/styles/page.css">
  <link rel="stylesheet" href="./static/styles/form.css">
  <link rel="stylesheet" href="./static/styles/dashboard.css">
  <link rel="stylesheet" href="./static/styles/patientDetails.css">
  <script src="https://kit.fontawesome.com/5e6f9a98be.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="user-header">
  <a class="logo" href="./dashboard.jsp">
    <img src="./static/images/chemo_logo_and_name-horizontal-one-color-white.png" alt="Logo Chemo">
  </a>
</div>
</body>
</html>