/* Container di un checkbox*/
.checkbox-container .checkbox-label {
    margin-top: 0;
}
/* Stile della label che contiene il checkbox*/
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 37px;   /*24*/
    width: 37px;    /*24*/
    clear: both;
}
/* Stile dell'effettivo campo input*/
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Stile dello span  per personalizzare il checkbox*/
.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 37px;   /*24*/
    width: 37px;    /*24*/
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    border: 4px solid var(--accent-color);
}
.checkbox-label .checkbox-custom:hover {
    background: var(--accent-color);
}

/* Stile personalizzato del checkbox quando è selezionato*/
.checkbox-label input:checked ~ .checkbox-custom {
    background-color: var(--accent-color);
    border-radius: 10px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 4px solid var(--accent-color);
}

/* Stile della spunta non selezionata*/
.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 10px;
    border: solid var(--accent-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

/* Stile della spunta selezionata*/
.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 9px;      /*8*/
    top: 5px;       /*3*/
    width: 10px;     /*6*/
    height: 16px;   /*12*/
    border: solid var(--neutral-color);
    border-width: 0 4px 4px 0;
    background-color: transparent;
    border-radius: 0;
}