.form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form label {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: var(--medium-text);
}

.form .input-field {
    margin: 5px 0 15px 0;
    padding: 10px 0;
    width: 100%;
    font-size: 1em;
    font-family: "Titillium Web", sans-serif;
    color: var(--medium-text);
    background: var(--neutral-color);
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid var(--medium-text);
}
.form .input-field:focus {
    outline: none;
    caret-color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.submit-button {
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    border-radius: 10px;
    font-size: large;
}

.form .title-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form .title-section .title {
    margin-top: 0;
}

.form .inactive {
    pointer-events: none;
    border-bottom: 2px solid var(--transparent);
}

/* Style of a row of multiple input fields */
.form .input-fields-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.form .input-fields-row .field {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.form .input-fields-row .left {
    margin-right: auto;
}
.form .input-fields-row .middle {
    margin-right: auto;
    margin-left: auto;
}
.form .input-fields-row .right {
    margin-left: auto;
}


.form-section-buttons {
    margin-left: auto;
    margin-right: 0;

}

.save-button {
    margin-right: 0;
    margin-left: 10px;
}

.edit-button {
    margin-left: auto;
    margin-right: 0;
}

.validity-paragraph {
    margin-top: 0;
}

