@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*** Base Colours, Style and Typography used in the website ***/
/*Colours used in the website*/
:root {
    /*Basic colours used in the website*/
    --main-color: #003366;
    --main-color-light: #073765;    /*Used for hover*/
    --main-color-dark: #00284d;     /*Used for inactive elements*/
    --accent-color: #0059B3;
    --accent-color-light: #0e62b6;  /*Used for hover*/
    --accent-color-dark: #014993;   /*Used for inactive elements*/
    --neutral-color: #FFFFFF;
    --secondary-color: #5C6F82;
    --secondary-color-light: #686f7c;
    --secondary-color-dark: #38444F;
    /*Colours for text*/
    --light-text: #F5F5F0;
    --medium-text: #5A6772;
    --dark-text: #1C2024;
    /*Colours fot shadows and transparent elements*/
    --shadow-color: rgba(0, 0, 0, 0.1);
    --accent-shadow-color: rgba(0, 89, 179, 0.2);
    --transparent: rgba(0, 0, 0, 0);
    /*Colours fot status*/
    --avaliable: #099f09;
    --unavaliable: #9d0b0b;
    --warning: #ffff4b;
    --warning-text: #727224;
    --danger: #9d0b0b;
    --danger-text: #4f0606;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    color: var(--dark-text);
    background: var(--main-color);
}

#page-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}



h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {

}

a {
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    color: var(--accent-color-light);
}
a:visited {
    color: var(--main-color);
}
a:visited:hover {
    color: var(--main-color-light);
}

.logo {
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: auto;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.row > *{
    padding: 0;
    margin: auto;
    width: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.left {
    margin-right: auto;
    margin-left: 0;
}

.status-available {
    color: var(--avaliable);
}
.status-unavailable {
    color: var(--unavaliable);
}

.hidden {
    display: none;
}

/*** UI elements used in different pages ***/
.box {
    margin: 20px auto;
    padding: 20px;
    height: auto;
    width: auto;
    border-radius: 10px;
    color: var(--dark-text);
    background: var(--neutral-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}
.box-in {
    margin: 10px auto auto auto;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 10px;
    color: var(--dark-text);
    background: var(--neutral-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}
.box .box {
    margin-bottom: 0;
}


#page-content > .box {
    width: 630px;
}
#page-content > #alert-box {
    width: 630px;
}
#page-content > #login-box {
    width: 520px;
}
#page-content > #login-error {
    width: 520px;
}

#box-name-row {
    margin-bottom: 10px;
}

#box-name-row .title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 600;
}

#box-name-row #user-details-link {
    margin-left: auto;
    margin-right: 10px;
}
#box-name-row #user-logout-link {
    margin-left: 0;
    margin-right: 0;
}
#box-name-row button {
    padding: 0;
    cursor: pointer;
}
#box-name-row .icon {
    text-decoration: none;
    color: var(--accent-color);
    background: transparent;
    border: none;
}
#box-name-row .icon:hover {
    color: var(--accent-color-light);
}
#box-name-row .icon:visited {
    text-decoration: none;
    color: var(--accent-color);
}
#box-name-row .icon:visited:hover {
    color: var(--accent-color-light);
}

.icon {
    padding: 0;
    width: 42px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    fill: currentColor;
}

#status-icon {
    margin: auto 20px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.button-primary-m {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--light-text);
    background:  var(--accent-color);
}
.button-primary-m:hover {
    background:  var(--accent-color-light);
}

.button-secondary-m {
    margin: 0;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--accent-color);
    background: var(--neutral-color);
    border: 2px solid var(--accent-color);
}
.button-secondary-m:hover {
    color: var(--light-text);
    background: var(--accent-color);
}
.button-secondary-s {
    margin: 0;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--accent-color);
    background: var(--neutral-color);
    border: 2px solid var(--accent-color);
}
.button-secondary-s:hover {
    color: var(--light-text);
    background: var(--accent-color);
}

.button-tertiary-m {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--light-text);
    background:  var(--secondary-color);
}
.button-tertiary-m:hover {
    background:  var(--secondary-color-light);
}

.button-tertiary-s {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--light-text);
    background:  var(--secondary-color);
}
.button-tertiary-s:hover {
    background:  var(--secondary-color-light);
}

.rounded {
    padding: 5px 15px;
    height: 40px;
    width: auto;
    border-radius: 10px !important;
}