/*** Base Colours, Style and Typography used in the website ***/
/*Colours used in the website*/
:root {
    /*Basic colours used in the website*/
    --main-color: #003366;
    --main-color-light: #073765;    /*Used for hover*/
    --main-color-dark: #00284d;     /*Used for inactive elements*/
    --accent-color: #0059B3;
    --accent-color-light: #0e62b6;  /*Used for hover*/
    --accent-color-dark: #014993;   /*Used for inactive elements*/
    --neutral-color: #FFFFFF;
    /*Colours for text*/
    --light-text: #F5F5F0;
    --medium-text: #5A6772;
    --dark-text: #1C2024;
    /*Colours fot shadows and transparent elements*/
    --shadow-color: rgba(0, 0, 0, 0.1);
    --accent-shadow-color: rgba(0, 89, 179, 0.2);
    --transparent: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    color: var(--dark-text);
    background: var(--main-color);
}

#page-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}



h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {

}

a {
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    color: var(--accent-color-light);
}
a:visited {
    color: var(--main-color);
}
a:visited:hover {
    color: var(--main-color-light);
}

.logo {
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/*** UI elements used in different pages ***/
.box {
    margin: 20px auto;
    padding: 20px;
    height: auto;
    width: 550px;
    border-radius: 10px;
    color: var(--dark-text);
    background: var(--neutral-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}

#box-name-row {
    margin-bottom: 10px;
}

#box-name-row .title {
    margin-top: 0px;
}

#box-name-row #user-details-link {
    margin-left: auto;
    margin-right: 10px;
}
#box-name-row a {
    text-decoration: none;
    color: var(--accent-color);
}
#box-name-row a:hover {
    color: var(--accent-color-light);
}
#box-name-row a:visited {
    text-decoration: none;
    color: var(--accent-color);
}
#box-name-row a:visited:hover {
    color: var(--accent-color-light);
}

.icon {
    width: 42px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.icon i {
    margin: auto;
}



.button-primary-m {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--light-text);
    background:  var(--accent-color);
}
.button-primary-m:hover {
    background:  var(--accent-color-light);
}